In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
%cd /content/gdrive/My Drive/Classroom/Big Data Analytics - Spring 2021/

/content/gdrive/My Drive/Classroom/Big Data Analytics - Spring 2021

In [3]:
import numpy as np
import pandas as pd
import re

In [4]:
df=pd.read_csv('clean_data.csv')

Selecting columns region, age, completed_level_of_education

In [5]:
selected_df=df[['region','age','completed_level_of_education']].copy()

Filling cells having null/NaN

In [6]:
selected_df.fillna('',inplace=True)

# Cleaning feature: completed_level_of_education

In [7]:
string_valid=['zakladne','stredoskolske','vysokoskolske','bakalarske']

In [8]:
edu_lvl_col=selected_df.completed_level_of_education

Removing stop words and symbols. Creating a list of separate words in string

In [9]:
stop_words=['a','aby','aj','ak','ako','ale','alebo','and','ani','ano','asi','az','ae','aka','ake','bez','bude','budem','budes','budeme',
'budete','budu','by','bohuzial','bol','bola','boli','bolo','byt','cez','co','ci','chodit','dalsi','dalsia','dassie','dnes','do','dno','ho','este',
'for','i','ja','je','jeho','jej','ich','iba','ine','iny','som','si','sme','su','k','kam','kazdy','kazda','kazde','kazdi',
'kde','ked','kto','ktora','ktore 	ktorou','ktor','ktori','ku','lebo','len','ma','mat','ma','mate','medzi','mi','mna','mne','musim',
'mnou','musiet','moct','moj','my','na','nad','nam','nas','nasi','nie','nech','nez','nic','niektory','nove','novy','nove','novi','o','no','noo',
'od','odo','of','on','ono','oni','ony','po','pod','podľa','pokiaľ','potom','prave','pre','preco','preto','pretoze','prvy','prva','prve',
'prvi','pred','predo','pri','pyta','s','sa','se','so','si','svoje', 'strasnej',
'svoj','svojich','svojim','svojimi','ta','tak','takze','tato','teda','te','te','ten','tento','the','tej',
'tieto','tym','tymto','tiez','to','toto','toho','tohoto','tom','tomto','tomuto','toto','tu',
'tu','tuto','tvoj','ty','tvojimi','uz','v','vam','vas','vase','vo','viac','vsak','vsetok','vy','vs',
'z','za','zo','ze','zatial','d','p','x','xd'
]

In [10]:
symbols=r'[ღ.@_!#$%^&*()<>?/\|}{~:=,;-♥]'

In [11]:
numbers=r'[0-9]+'

In [12]:
def cleanEducationLevel(column):
  list_of_words=[]
  for str_val in column:
    #replacing symbols with blank space
    temp=re.sub(symbols,' ',str_val)
    temp=re.sub(numbers,'',temp)
    #splitting string into separate words based on space
    splitted_str=temp.split()
    final_list = [word for word in splitted_str if word not in stop_words]
    list_of_words.append(" ".join(final_list) )

  return list_of_words

# Cleaning Feature: age

Converting age into categories

In [13]:
def categorizeAge(column):
  list_age_caterogies=[]
  for val in column:
    if val>=0 and val<=20:
      list_age_caterogies.append('0-20')
    elif val>20 and val<=40:
      list_age_caterogies.append('21-40')
    elif val>40 and val<=60:
      list_age_caterogies.append('41-60')
    elif val>60 and val<=80:
      list_age_caterogies.append('61-80')
    elif val>80 and val<=100:     
      list_age_caterogies.append('81-100')
 
  return list_age_caterogies

#Cleaning feature: region

Dividing region into administrative regions and districts

In [14]:
def divideRegions(column):
  regions=[]
  admin_region=[]
  district=[]
  for val in column:
    temp=val.split(',')
    admin_region.append(temp[0])
    district.append(temp[1])
    
  regions.append(admin_region)
  regions.append(district)
  return regions

#Creating data frame with selected features

In [15]:
cleaned_age=categorizeAge(selected_df.age)
cleaned_education_level= cleanEducationLevel(selected_df.completed_level_of_education)
cleaned_regions=divideRegions(selected_df.region)

In [ ]:
df_final=pd.DataFrame(list(zip(cleaned_regions[0],cleaned_regions[1],cleaned_age,cleaned_education_level)),
                      columns=['region','district','age','level_of_education'])

In [ ]:
df_final.drop(df_final[ (df_final['region'] =='zahranicie') | (df_final['region']=='ceska republika')].index, inplace = True)
df_final.drop(df_final[ df_final['level_of_education'] =='' ].index, inplace = True)

In [ ]:
df_final.to_csv("selected_data.csv",index=False)